<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480367974841-r7f6fnpf1ipal83q3c6bb8c03rafho6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480367974841-r7f6fnpf1ipal83q3c6bb8c03rafho6a</string>
	<key>API_KEY</key>
	<string>AIzaSyC0wfoWPxlWQI0GzXvUk4hrmIzW1dA8NZk</string>
	<key>GCM_SENDER_ID</key>
	<string>480367974841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.FoundAndLostItems</string>
	<key>PROJECT_ID</key>
	<string>foundandlostitems</string>
	<key>STORAGE_BUCKET</key>
	<string>foundandlostitems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480367974841:ios:118a8ad900edbd9eca3e68</string>
</dict>
</plist>